<div id="bingo">
  <script>
    timer = setTimeout(function, milliseconds)
    window.clearTimeout(time); 
  </script>

  <h1> hello </h1>
  <div class="bingo-card">
    <% for i in 0..25 do %>
       <div class="bingo-square"> hi</div>
    <% end %>
  </div>
</div>
