<script>
  timer = setTimeout(function, milliseconds)
  window.clearTimeout(time); 
</sctipt>
    <h1> hello </h1>
    <div>
      <% for i in 0..25 do %>
         <div> hi</div>
      <% end %>
    </div>
