// Place all the styles related to the bingo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#bingo {

  $square-color: #222;
  $hover-color: #eee;
  $called-color: #faf69d;

  .alert-area {
    padding-top: 10px;
    min-height: 100px;
    position: relative;

    #text {
      position: absolute;
      width: 100%;
      font-size: 17px;
      h1 {
        margin-top: 0px;
        font-size: 80px;
        color: $called-color
      }
    }

    #your-turn {
      display: none;
      width: 100%;
      height: 100%;
      background-color: #FA8072;
      color: white;
      margin: 0px;
      padding-top: 35px;
      position: absolute;
      z-index:1;
    }
  }

  .bingo-card {
      width: 250px;
      height: 250px;
  }

  .bingo-square {
      width: 50px;
      height: 50px;
      border: 1px solid black;
      border-radius: 50%;
      float: left;
      text-align: center;
      vertical-align: middle;
      background-color: $square-color;
  }

  .main-card {
    .col-xs-2 {
      padding: 0px;
    }

    &.bingo-card {
      margin-top: 10px;
      padding: 10px;
      width: 90%;
      height: auto;
      background-color: #050505;
      border-radius: 10%;
    }

    .bingo-square {
      @media(max-width: $screen-xs-max) {
        width: 100%;
        height: 60px;
      }
      width: 100%;
      height: 113px;
      border: 1px solid black;
      border-radius: 50%;
      float: left;
      text-align: center;
      vertical-align: middle;
      background-color: $square-color;
      h2 {
        @media(max-width: $screen-xs-max) {
          font-size:25px;
          margin-top: 20px;
        }
        margin-top: 32px;
        font-size: 40px;
      }
    }

    .bingo-square:hover {
      background-color: $hover-color;
      color: black;
      @media (max-width: $screen-xs-max) {
        background-color: $called-color;
        color: white;
      }
    }

    .called {
      background-color: $called-color;
      color: black;
      &:hover {
        background-color: $called-color;
      }
    }
  }

  .called {
    background-color: $called-color;
    color: black;
    &:hover {
      background-color: $called-color;
    }
  }

  .modal-content {
    color:black;
  }
  .modal-footer .btn {
    float: right;
    margin: 5px;
  }

  .last-numbers {
    padding-top: 10px;
    .last-number {
      @media(max-width: $screen-xs-max) {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        padding-top:9px;
      }
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 5px solid #eee;
      color: #333;
      padding-top: 15px;
      background-color: $called-color;
    }
    #CircleNum {
      @media(max-width: $screen-xs-max) {
        font-size:25px;
        padding-bottom: 10px;
        margin: 0px;
      }
      margin-top: 0px;
      font-size: 40px;
    }
  }

  .victory-message #msg {
    font-size: 30px;
  }
}
