// Place all the styles related to the bingo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#bingo {
  .alert-area {
    min-height: 40px;

    #your-turn {
      display: none;
      width: 100%;
      height: 100%;
      background-color: #FA8072;
      color: black;
      margin: 0px;
    }
  }

  .bingo-card {
      padding-top: 20px;
      width: 250px;
      height: 250px;
  }

  .bingo-square {
      width: 50px;
      height: 50px;
      outline: 1px solid black;
      float: left;
      text-align: center;
      vertical-align: middle;
      background-color: #002ed4;
  }

  .main-card {
    .col-xs-2 {
      padding: 0px;
    }

    &.bingo-card {
      padding-top: 20px;
      width: 90%;
      height: auto;
      h2 {
        margin-top: 32px;
        font-size: 40px;
      }
    }

    .bingo-square {
      width: 100%;
      height: 113px;
      outline: 1px solid black;
      float: left;
      text-align: center;
      vertical-align: middle;
      background-color: #002ed4;
    }

    .bingo-square:hover {
      @media (max-width: $screen-xs-max) {
        background-color: #00ff99;
      }
    }

    .called {
      background-color: red;
    }
  }

  .called {
    background-color: red;
  }

  .modal-footer .btn {
    float: right;
    margin: 5px;
  }

  .last-numbers {
    padding-top: 20px;
    .last-number {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 5px solid;
      padding-top: 15px;
      h2 {
        margin-top: 5px;
      }
    }
  }
}
