<footer class="footer">
  <div class="container">
    <center>
      <p class="text-muted">Copyright 2015 <a href="https://github.com/TheMichaelHu" target="_blank">Michael Hu</a> and <a href="https://github.com/mirdathebirda" target="_blank">Miranda Chiu</a> | All Rights Reserved</p>
    </center>
  </div>
</footer>