<!DOCTYPE html>
<html>
<center>
  <head>
  <title>VSA Bingo!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<% if Rails.env.production? %>
<script>
  var dispatcher = new WebSocketRails("salty-thicket-55431.herokuapp.com/websocket");
</script>
<% else %>
<script>
  var dispatcher = new WebSocketRails("localhost:3001/websocket");
</script>
<% end %>

<%= yield %>

</body>
<center>
</html>
